Smart Receipt Organizer.json
{
  "name": "Smart Receipt Organizer",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "channel_post"
        ],
        "additionalFields": {}
      },
      "id": "43f22f59-b94d-4ba8-b839-d913b5c7e12b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        160
      ],
      "webhookId": "auto-generated",
      "credentials": {
        "telegramApi": {
          "id": "KubtfVS2M8tmo1TB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "id": "47676d42-1663-4d65-98cd-ce2d069a7eb7",
      "name": "Get File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -432,
        160
      ],
      "webhookId": "71464fc0-8e60-4768-b918-03f1fb16a968",
      "credentials": {
        "telegramApi": {
          "id": "KubtfVS2M8tmo1TB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39bc76ff-01b1-4699-8db3-00faa20e5a82",
              "leftValue": "={{ $input.first().binary.data.mimeType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        160
      ],
      "id": "cabc8255-cc59-4133-ac8f-f2c6fd0f93a8",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "Analyze this receipt and return ONLY a raw JSON object (no markdown) with fields: \n- vendor\n- date (YYYY-MM-DD)\n- amount (number)\n- currency: Return the 3-letter ISO code (e.g. 'USD', 'INR', 'EUR'). If unclear assume 'INR'.\n- summary\n- category: This MUST be exactly one of the following strings: 'Eating Out', 'Groceries', 'Utilities', 'Transport', 'Shopping', 'Subscriptions', 'Tech & Office', 'Medical', 'Miscellaneous'. If you are unsure, use 'Miscellaneous'.",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5f341262-eea9-4998-8553-072b2d4a5c68",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "70tpAULs1FLti3XU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "Analyze this receipt and return ONLY a raw JSON object (no markdown) with fields: \n- vendor\n- date (YYYY-MM-DD)\n- amount (number)\n- currency: Return the 3-letter ISO code (e.g. 'USD', 'INR', 'EUR'). If unclear assume 'INR'.\n- summary\n- category: This MUST be exactly one of the following strings: 'Eating Out', 'Groceries', 'Utilities', 'Transport', 'Shopping', 'Subscriptions', 'Tech & Office', 'Medical', 'Miscellaneous'. If you are unsure, use 'Miscellaneous'.",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        272
      ],
      "id": "fcdc34ec-2272-406b-b979-c28f3b04ceeb",
      "name": "Analyze a file",
      "credentials": {
        "googlePalmApi": {
          "id": "70tpAULs1FLti3XU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --------------------------------------------------------\n// 1. EXTRACT AI RESPONSE\n// --------------------------------------------------------\nconst item = $input.first();\nconst json = item.json;\n\nlet aiOutput = json.candidates?.[0]?.content?.parts?.[0]?.text || json.text || json.response;\n\nif (!aiOutput) {\n  throw new Error('Could not find text in AI response. Check input structure.');\n}\n\n// --------------------------------------------------------\n// 2. CLEAN & PARSE JSON\n// --------------------------------------------------------\nif (aiOutput.includes('```')) {\n  aiOutput = aiOutput.split('```')[1];\n  aiOutput = aiOutput.replace(/^json\\s*/i, '');\n}\n\nlet receiptData = {};\ntry {\n  receiptData = JSON.parse(aiOutput.trim());\n} catch (e) {\n  receiptData = {\n    summary: aiOutput,\n    vendor: 'Parse Error',\n    amount: 0,\n    currency: 'INR',\n    category: 'Miscellaneous'\n  };\n}\n\n// --------------------------------------------------------\n// 3. BUILD FILENAME\n// --------------------------------------------------------\nconst binaryData = $('Get File').first().binary;\nconst binaryKey = Object.keys(binaryData)[0];\nconst fileExtension = binaryData[binaryKey].fileExtension || 'jpg';\n\nconst date = receiptData.date || new Date().toISOString().split('T')[0];\nconst safeVendor = (receiptData.vendor || 'Unknown').replace(/[^a-zA-Z0-9]/g, '');\nconst amount = receiptData.amount || 0;\nconst currency = (receiptData.currency || 'INR').toUpperCase();\nconst newFileName = `${date}_${safeVendor}_${amount}_${currency}.${fileExtension}`;\n\n// --------------------------------------------------------\n// 4. RETURN DATA\n// --------------------------------------------------------\nreturn {\n  json: {\n    vendor: receiptData.vendor || 'Unknown',\n    date: date,\n    amount: parseFloat(amount),\n    currency: currency,\n    category: receiptData.category || 'Miscellaneous',\n    summary: receiptData.summary || '',\n    newFileName: newFileName\n  },\n  binary: binaryData\n};"
      },
      "id": "c4efb32a-75b7-4205-9438-90ac37c3c09f",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dlggv8oiu/auto/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "public_id",
              "value": "={{ 'receipts/' + $('Format Data').first().json.newFileName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "312c42df-3fe3-4c42-9211-cb5689387db9",
      "name": "Upload to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        160
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "CInD7jXHe9t46Mwo",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://firestore.googleapis.com/v1/projects/receipt-organize/databases/(default)/documents/receipts?key=AIzaSyBN3UoxsMOdtC4VtbB58hnJXZ5Jdwhm5iA",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"vendor\":    { \"stringValue\": \"{{ $('Format Data').first().json.vendor }}\" },\n    \"date\":      { \"stringValue\": \"{{ $('Format Data').first().json.date }}\" },\n    \"amount\":    { \"doubleValue\": {{ $('Format Data').first().json.amount }} },\n    \"currency\":  { \"stringValue\": \"{{ $('Format Data').first().json.currency }}\" },\n    \"category\":  { \"stringValue\": \"{{ $('Format Data').first().json.category }}\" },\n    \"fileName\":  { \"stringValue\": \"{{ $('Format Data').first().json.newFileName }}\" },\n    \"imageUrl\":  { \"stringValue\": \"{{ $json.secure_url }}\" },\n    \"createdAt\": { \"stringValue\": \"{{ new Date().toISOString() }}\" }\n  }\n}",
        "options": {}
      },
      "id": "3c2d3b2c-d132-4eb7-862d-7b2fef559cf2",
      "name": "Save to Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=✅ <b>Receipt saved!</b>\n\n💰 Amount: {{ $('Format Data').first().json.amount }} {{ $('Format Data').first().json.currency }}\n🏪 Vendor: {{ $('Format Data').first().json.vendor }}\n📁 Category: {{ $('Format Data').first().json.category }}\n📅 Date: {{ $('Format Data').first().json.date }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "87b184ee-0bfa-4336-b6a3-c0a35d569cd2",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        160
      ],
      "webhookId": "6fed1f71-be9a-408c-99f3-360357cf9945",
      "credentials": {
        "telegramApi": {
          "id": "KubtfVS2M8tmo1TB",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze a file": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Upload to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cloudinary": {
      "main": [
        [
          {
            "node": "Save to Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Firestore": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "432eb38d-eb90-4fe4-8c98-029cb4195d7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "746830de4ea59ffa57599fa183a9f9630ded87264532d457c4bbc6b185bb84d5"
  },
  "id": "VePRDGwhZa44O3jd",
  "tags": []
}